body{
    font-family: 'Roboto', sans-serif;
    background-color: #acd941;
    /* background-color: #d79172; */
}

/* navbar css starts here  */
.bg-light{
    background-color: #f2e9e4!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #5c8ecb!important;
}

.nav-link{
    color: #5f6368!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #e79522;
}
/* navbar css ends here  */

.my-info{
    padding: 3rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(103, 153, 199)!important;
    background-image: image('https://www.linkedin.com/pulse/who-customer-vish-viswanathan')!important;
    color: #fff!important;
    margin-left: 6px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(67, 83, 230)!important;
}